.main {
  width: 100vw;
  height: 100vh;
}

#vehicle-button {
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%)
}

#task-button {
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-150%, 0%)
}

#schedule-button {
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(50%, 0%)
}

.icon {
  font-size: 60px;
}